In [1]:
import sys
# sys.path.append(r"H:\3. Github3\lionel\src")
# sys.path.append(r"H:\3. Github3\lionel\\")
sys.path.append(r"H:\3. Github3\lionel")

In [2]:
from src.fantasy.scrape import Scraper

In [3]:
scraper = Scraper(23)

In [4]:
scraper.gw_stats

H:\3. Github3\lionel\src\fantasy\scrape.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gw_stats = gw_stats_current.append(gw_stats_previous)

,name,position,team_name,assists,bps,creativity,element,goals_scored,ict_index,influence,...,team_a_score,team_h_score,threat,total_points,transfers_balance,value,was_home,gameweek,season,team_id
0,Nathan Redmond,MID,Southampton,0,3,0.0,403,0,0.0,0.0,...,1,4,0.0,1,0,55,False,1,23,99
1,Junior Stanislas,MID,Bournemouth,0,3,0.0,58,0,0.0,0.0,...,0,2,0.0,1,0,50,True,1,23,99
2,Armando Broja,FWD,Chelsea,0,3,0.3,150,0,2.5,5.2,...,1,0,19.0,1,0,55,False,1,23,99
3,Fabian Sch√§r,DEF,Newcastle,0,43,14.6,366,1,10.6,66.0,...,0,2,25.0,15,0,45,True,1,23,99
4,Jonny Evans,DEF,Leicester,0,15,1.3,249,0,1.5,14.0,...,2,2,0.0,1,0,45,True,1,23,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25442,Wilfred Ndidi,MID,Leicester,0,0,0.0,216,0,0.0,0.0,...,1,4,0.0,0,-202,48,True,38,22,99
25443,Matt Ritchie,DEF,Newcastle,0,3,0.0,292,0,0.0,0.0,...,2,1,0.0,1,143,49,False,38,22,99
25444,Nathan Redmond,MID,Southampton,0,5,0.0,336,0,0.0,0.0,...,1,4,0.0,2,455,59,False,38,22,99
25445,Mathew Ryan,GK,Brighton,0,0,0.0,65,0,0.0,0.0,...,1,3,0.0,0,-2,45,True,38,22,99
25446,Ryan Fredericks,DEF,West Ham,0,0,0.0,415,0,0.0,0.0,...,1,3,0.0,0,36,44,False,38,22,99

In [5]:
scraper.fixtures

               home         away  game_date  gameweek
0    Crystal Palace      Arsenal 2022-08-05         1
1            Fulham    Liverpool 2022-08-06         1
2       Bournemouth  Aston Villa 2022-08-06         1
3             Leeds       Wolves 2022-08-06         1
4         Newcastle   Nottingham 2022-08-06         1
..              ...          ...        ...       ...
375         Everton  Bournemouth 2023-05-28        38
376           Leeds    Tottenham 2023-05-28        38
377       Leicester     West Ham 2023-05-28        38
378  Manchester Utd       Fulham 2023-05-28        38
379     Southampton    Liverpool 2023-05-28        38

[380 rows x 4 columns]